@page "/contactus"
@using PhoenixRedwolfDigitalServices.Models
@using PhoenixRedwolfDigitalServices.Data
@using Syncfusion.Blazor.SplitButtons
@using System.Text.Json
@using System.Text.Json.Serialization

<div>
    <h2>Contact Us</h2>
    <p>If you would like to discuss how PhoenixRedwolf Digital Services can help your business, feel free to contact us.</p>

    <div class="contact-info">
        <p><strong>Email:</strong> <a href="mailto:b.vogtman@phoenixredwolf.com">b.vogtman@phoenixredwolf.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:(856) 347-0392">(856) 347-0392</a></p>
    </div>
</div>

<EditForm Model="@contact" OnValidSubmit="SendContact">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Name:
            <InputText @bind-Value="contact.Name" />
        </label>
    </p>
    <p>
        <label>
            Address:
            <InputText @bind-Value="contact.Address" />
        </label>
    </p>
    <p>
        <label>
            City:
            <InputText @bind-Value="contact.City" />
        </label>
        <label>
            State:
            <SfDropDownButton Content="State">                
                <DropDownMenuItems>
                    @foreach(var state in stateList)
                    {
                        <DropDownMenuItem Text="@state.Abbr" Id="@state.Name"></DropDownMenuItem>
                    }
                </DropDownMenuItems>
                <DropDownButtonEvents ItemSelected="@ItemSelected"></DropDownButtonEvents>
            </SfDropDownButton>
        </label>
        <label>
            <div class="dropdown">
                State:
                <button class="btn btn-primary dropdown-toggle" type="button" id="stateMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    State
                </button>
                <ul class="dropdown-menu" aria-labelledby="stateMenuButton">
                    @foreach (var state in stateList)
                    {
                        <li><a class="dropdown-item" @onclick="() => BSItemSelected(state.Abbr)">@state.Abbr</a></li>
                    }
                </ul>
            </div>
        </label>
    </p>

   

</EditForm> 

<p> Selected item = @contact.State</p>
<p> Selected item = @test.State</p>

@code {
    private string fileName = "Data\\state.json";
    private string jsonString = "";
    private Contact contact = new();
    private Contact test = new();
    private List<State> stateList = new List<State>();
    private string selectedState = "";

    private void SendContact()
    {

    }

    private void LoadJson()
    {
        using (StreamReader r = new StreamReader(fileName))
        {
            jsonString = r.ReadToEnd();
            stateList = JsonSerializer.Deserialize<List<State>>(jsonString)!;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        LoadJson();
    }

    private void ItemSelected(MenuEventArgs args)
    {
        contact.State = args.Item.Text;
    }

    private void BSItemSelected(string state)
    {
        test.State = state;
    }

}
